:root {
  --cancel-button-width: 5rem;
  --cancel-button-middle: calc(var(--cancel-button-width) / 6);
  --cancel-button-bar: calc(var(--cancel-button-width) / 12)
}

.cancel-button {
  position: fixed;
  right: 0;
  top: 0;
  width: var(--cancel-button-width);
  height: var(--cancel-button-width);
  background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 4;
}

.cancel-button span {
  background-color: black;
  width: calc(var(--cancel-button-width) * .7);
  height: var(--cancel-button-bar);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 100px;
}

.cancel-button span:first-of-type {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.cancel-button span:nth-of-type(2) {
  width: var(--cancel-button-middle);
  height: var(--cancel-button-middle);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cancel-button span:last-of-type {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 750px) {
  :root {
    --cancel-button-width: 2.4rem;
  }

}