:root {
  --min-width: 60px;
  --max-width: 150px;
  --button-width: clamp(var(--min-width), 15vmin, var(--max-width));
}

#header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.header-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: var(--button-width);
  height: var(--button-width);
}

.header-button {
  width: 70%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25%;
  cursor: pointer;
  background-color: #D1CCC3;
  -webkit-box-shadow: 20px 20px 70px #d4d4d4, -20px -20px 70px #FFFFFF;
  box-shadow: 20px 20px 70px #d4d4d4, -20px -20px 70px #FFFFFF;
}


@media screen and (max-width: 1549px) {
  #header {
    margin-top: var(--button-width);
  }
}