@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

html,
body,
#root,
main {
  width: 100%;
  margin: 0;
  color: black;
  scroll-behavior: smooth;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#fafafa, #ffffff);
  font-family: "Roboto", sans-serif;
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
  height: unset;
}

* {
  box-sizing: border-box;
}