.wrapper {
  width: 90%;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-bottom: 4rem;
}

.text-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem 1rem 0 0;
}

.text-container input,
.placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
}

.text-container input {
  background-color: transparent;
  z-index: 1;
  resize: none;
  border: none;
  -webkit-box-shadow: 20px 20px 60px #b5b5b5,
    -20px -20px 60px #ffffff;
  box-shadow: 20px 20px 60px #b5b5b5,
    -20px -20px 60px #ffffff;
  padding: 1rem;
  margin: 0;
  height: calc(100% - 4rem);
  color: rgb(65, 65, 65);
  outline: 2px solid white;
}

.text-container input:focus {
  outline: 2px solid slateblue;
}

.placeholder {
  z-index: 0;
  color: rgba(65, 56, 65, .7);
  height: calc(100% - 4rem);
  background-color: white;
}

.button-container {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0 0 1rem 1rem;
  outline: 2px solid slateblue;
}

.button-container>div {
  position: absolute;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(slateblue), to(rebeccapurple));
  background: -o-linear-gradient(left, slateblue, rebeccapurple);
  background: linear-gradient(90deg, slateblue, rebeccapurple);
  border-radius: 1rem;
  z-index: 1;
}

.button-container>div:nth-of-type(1) {
  width: 97.5%;
  z-index: -2;
  top: 20%;
  opacity: .5;
  left: 1.25%;
}

.button-container>div:nth-of-type(2) {
  width: 95%;
  top: 40%;
  opacity: .3;
  z-index: -1;
  left: 2.5%;
}

.timetable-button {
  width: 100%;
  height: 100%;
  border: none;
  background: -o-linear-gradient(330deg, slateblue, rebeccapurple);
  background: linear-gradient(120deg, slateblue, rebeccapurple);
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 0 0 1rem 1rem;
}

.timetable-button:before,
.button-container>div:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  -webkit-transition: width .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: width .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: width .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  z-index: -1;
  border-radius: 0 0 1rem 1rem;
}

.timetable-button:hover:before,
.button-container:hover>div:before {
  width: 100%;
}