.landing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.input-container {
  width: 90%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

#wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#text-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#text-container textarea {
  background-color: transparent;
  z-index: 1;
  resize: none;
  border: none;
  box-shadow: 20px 20px 60px #b5b5b5,
    -20px -20px 60px #ffffff;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  margin: 0;
  height: calc(100% - 4rem);
  color: rgb(65, 65, 65);
}

#text-container textarea:focus {
  outline: 2px solid slateblue;
}


#placeholder {
  z-index: 0;
  color: gray;
  opacity: .7;
  text-transform: uppercase;
}

#button-container {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0 0 1rem 1rem;
  outline: 2px solid slateblue;
}

#timetable-button {
  width: 100%;
  height: 100%;
  border: none;
  background: linear-gradient(120deg, slateblue, rebeccapurple);
  color: white;
  font-size: 1.2rem;
  font-family: "Circular Std Book", "sans-serif";
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 0 0 1rem 1rem;
}

#timetable-button:before,
#button-container>div:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  transition: width .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  z-index: -1;
  border-radius: 0 0 1rem 1rem;
}

#timetable-button:hover:before,
#button-container:hover>div:before {
  width: 100%;
}

#button-container>div {
  position: absolute;
  height: 100%;
  background: linear-gradient(90deg, slateblue, rebeccapurple);
  border-radius: 1rem;
  z-index: 1;
}

#button-container>div:nth-of-type(1) {
  width: 95%;
  z-index: -2;
  top: .8rem;
  opacity: .5;
  left: 2.5%;
}

#button-container>div:nth-of-type(2) {
  width: 85%;
  top: 1.6rem;
  opacity: .3;
  z-index: -1;
  left: 7.5%;
}

#text-container * {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dummy {
  display: none;
}