:root {
  --menu-item-radius: 5px;
}

.menu-item {
  width: 90%;
  border-radius: var(--menu-item-radius);
  height: clamp(2rem, 10vh, 4rem);
  position: relative;
}

.menu-item:not(.menu-item:first-of-type) {
  margin-top: .5rem;
}

.menu-item:not(.menu-item:last-of-type) {
  margin-bottom: .5rem;
}

@media screen and (max-height: 400px) {

  .menu-item button {
    font-size: small;
  }

}