.selector-container {
  display: flex;
  position: relative;
}

.selector-container svg {
  flex-grow: 1;
  cursor: pointer;
  width: 7rem;
  height: 7rem;
  z-index: 1;
}

.selector-container svg:not(.selector-container svg:first-of-type) {
  margin-left: .5rem;
}

.selector-container svg:not(.selector-container svg:last-of-type) {
  margin-right: .5rem;
}
