.selector-container {
  display: flex;
  position: relative;
  --svg-width: clamp(4.5rem, 17vmin, 7rem);
}

.selector-container svg {
  flex-grow: 1;
  cursor: pointer;
  width: var(--svg-width);
  height: var(--svg-width);
  z-index: 1;
}

.selector-container svg:not(.selector-container svg:first-of-type) {
  margin-left: .5rem;
}

.selector-container svg:not(.selector-container svg:last-of-type) {
  margin-right: .5rem;
}